In [1]:
#Series создание
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
#Series доступ к элементам
#loc метка индекса
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [6]:
#Series доступ к элементам
#iloc номер индекса
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [7]:
#DataFrame создание
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [8]:
#DataFrame создание
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [10]:
#четние CSV
df = pd.read_csv('data_sf.csv')

In [11]:
#четние CSV
#head - первые 5 строк
df = pd.read_csv('data_sf.csv')
display(df.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [12]:
#четние CSV
#tail - последние 5 строк
df = pd.read_csv('data_sf.csv')
display(df.tail())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [13]:
#info - информация о датафрейме
#null_counts - подсчет количества пустых элементов (по умолчанию True)
df = pd.read_csv('data_sf.csv')
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
Unnamed: 0         12897 non-null int64
Name               12897 non-null object
Age                12897 non-null int64
Nationality        12897 non-null object
Club               12897 non-null object
Value              12897 non-null int64
Wage               12897 non-null int64
Position           12897 non-null object
Crossing           12897 non-null int64
Finishing          12897 non-null int64
HeadingAccuracy    12897 non-null int64
ShortPassing       12897 non-null int64
Volleys            12897 non-null int64
Dribbling          12897 non-null int64
Curve              12897 non-null int64
FKAccuracy         12897 non-null int64
LongPassing        12897 non-null int64
BallControl        12897 non-null int64
Acceleration       12897 non-null int64
SprintSpeed        12897 non-null int64
Agility            12897 non-null int64
Reactions          12897 non-null int64
Balance            12897 non-null int64
ShotPower          12897 non-null int64
Jumping            12897 non-null int64
Stamina            12897 non-null int64
Strength           12897 non-null int64
LongShots          12897 non-null int64
Aggression         12897 non-null int64
Interceptions      12897 non-null int64
Positioning        12897 non-null int64
Vision             12897 non-null int64
Penalties          12897 non-null int64
Composure          12897 non-null int64
Marking            12897 non-null int64
StandingTackle     12897 non-null int64
SlidingTackle      12897 non-null int64
GKDiving           12897 non-null int64
GKHandling         12897 non-null int64
GKKicking          12897 non-null int64
GKPositioning      12897 non-null int64
GKReflexes         12897 non-null int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [14]:
#desscribe - статистика по данным
df = pd.read_csv('data_sf.csv')
display(df.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [18]:
#mean() - среднее по столбцу/строке (аналогично все остальные методы из describe)
df = pd.read_csv('data_sf.csv')
display(df.Age.mean())

24.795378770256647

In [19]:
#фильтрация данных
df = pd.read_csv('data_sf.csv')
display(df[df.Age > 20])

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [10]:
import pandas as pd
#Группировка данных
#value_counts - подсчет количества
df = pd.read_csv('data_sf.csv')
s = df.Nationality.value_counts()
s

England      1368
Germany       919
Spain         671
France        614
Argentina     574
             ...
Grenada         1
Mauritius       1
Belize          1
Qatar           1
Oman            1
Name: Nationality, Length: 156, dtype: int64

In [11]:
#использование условий
df = pd.read_csv('data_sf.csv')
s = df.Nationality.value_counts()
s.loc[s>100]

England                1368
Germany                 919
Spain                   671
France                  614
Argentina               574
Italy                   469
Colombia                445
Japan                   425
Brazil                  423
China PR                349
Republic of Ireland     332
Saudi Arabia            324
Sweden                  319
Netherlands             309
Poland                  296
Chile                   296
Korea Republic          290
Norway                  283
Mexico                  276
Denmark                 275
United States           271
Austria                 240
Scotland                221
Turkey                  215
Australia               206
Belgium                 164
Portugal                159
Switzerland             156
Wales                   102
Name: Nationality, dtype: int64

In [13]:
#обращение по индексу
df = pd.read_csv('data_sf.csv')
s = df.Nationality.value_counts()
s.loc['Norway']

283

In [14]:
#value_counts - подсчет количества
#normalize=True - в процентах
df = pd.read_csv('data_sf.csv')
s = df.Nationality.value_counts(normalize=True)
s

England      0.106071
Germany      0.071257
Spain        0.052028
France       0.047608
Argentina    0.044506
               ...
Grenada      0.000078
Mauritius    0.000078
Belize       0.000078
Qatar        0.000078
Oman         0.000078
Name: Nationality, Length: 156, dtype: float64

In [15]:
#unique - уникальные значения
df = pd.read_csv('data_sf.csv')
df.Nationality.unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Switzerland', 'Norway', 'DR Congo', 'Ukraine',
       'Mexico', 'Czech Republic', 'Ivory Coast', 'Albania', 'Turkey',
       'Ghana', 'Ecuador', 'Mali', 'Nigeria', 'Dominican Republic',
       'Japan', 'Cameroon', 'Republic of Ireland', 'Romania',
       'United States', 'Russia', 'Hungary', 'Iceland', 'Zimbabwe',
       'Togo', 'Angola', 'Burkina Faso', 'Peru', 'Scotland', 'Venezuela',
       'Estonia', 'Tunisia', 'Israel', 'Equatorial Guinea', 'New Zealand',
       'FYR Macedonia', 'Paraguay', 'China PR', 'Kosovo', 'Tanzania',
       'Iran', 'Uzbekistan', 'South Africa', 'Australia', 'Congo',
       'Jamaica', 'Mozambique', 'Cape Verde', 'Northern Ireland', 'Syria',
       'Cyprus', 'Moldova', 'Canada', 'Trinidad & Tobago', 'Bulgaria',
       'Georgia', 'Saudi Arabia', 'Armenia', 'Guinea Bissau', 'Haiti',
       'Comoros', 'Eritrea', 'Oman', 'Iraq', 'Latvia', 'Panama',
       'Bolivia', 'Madagascar', 'Belarus', 'Honduras', 'Thailand',
       'Mauritius', 'Gambia', 'Guatemala', 'Central African Rep.',
       'Zambia', 'Curacao', 'Niger', 'Mauritania', 'Suriname', 'Benin',
       'Luxembourg', 'Kenya', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Libya', 'Faroe Islands', 'Nicaragua', 'Sierra Leone',
       'Kazakhstan', 'Lithuania', 'Barbados', 'Lebanon', 'Liechtenstein',
       'Palestine', 'Guyana', 'Korea DPR', 'El Salvador', 'Cuba', 'Sudan',
       'Burundi', 'St Lucia', 'Ethiopia', 'Uganda', 'Puerto Rico',
       'Grenada', 'Antigua & Barbuda', 'Jordan', 'Rwanda', 'Bermuda',
       'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'St Kitts Nevis', 'Philippines', 'Indonesia',
       'Botswana'], dtype=object)

In [16]:
#unique - подсчет количества уникальных значений
df = pd.read_csv('data_sf.csv')
df.Nationality.nunique()

156

In [17]:
#Groupby
#сумма по клубам
df = pd.read_csv('data_sf.csv')
df.groupby(['Club']).sum()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [18]:
#сумма по клубам, обращение к определенному клубу
df = pd.read_csv('data_sf.csv')
s = df.groupby(['Club']).sum()
s.loc['Örebro SK']['Wage']

36000

In [19]:
#суммирование только по одному столбцу
df = pd.read_csv('data_sf.csv')
s = df.groupby(['Club'])['Wage'].sum()
s.loc['Örebro SK']

36000

In [20]:
#сортировка сгруппированного
df = pd.read_csv('data_sf.csv')
s = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
s

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
                      ...
AEK Athens             11000
Shakhtar Donetsk       10000
PAOK                   10000
Olympiacos CFP          8000
Dinamo Zagreb           7000
Name: Wage, Length: 650, dtype: int64

In [24]:
#выборка сразу по нескольким столбцам
df = pd.read_csv('data_sf.csv')
s = df.groupby(['Club'])['Wage', 'Age', 'ShotPower'].sum().sort_values(['Wage'],ascending=False)
s

                      Wage  Age  ShotPower
Club
Real Madrid        4138000  547       1425
FC Barcelona       3967000  554       1402
Manchester City    3097000  570       1590
Manchester United  2357000  505       1312
Juventus           2335000  400       1019
...                    ...  ...        ...
AEK Athens           11000  266        638
PAOK                 10000  255        655
Shakhtar Donetsk     10000  261        649
Olympiacos CFP        8000  197        522
Dinamo Zagreb         7000  166        295

[650 rows x 3 columns]

In [ ]:
#Свобдные таблицы