In [5]:
#columns - изменение названия колонок
import pandas as pd
df = pd.read_csv('log.csv')
df.columns = ['unser_id', 'data', 'bet', 'win']
df

                             unser_id                  data       bet      win
0    Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN      NaN
1    Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN      NaN
2    Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN      NaN
4    Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0      NaN
..                                ...                   ...       ...      ...
994  Запись пользователя № - user_984   [2019-04-20 9:59:58    9754.0      NaN
995                            #error                   NaN   10054.0  29265.0
996                            #error                   NaN   10454.0      NaN
997                            #error                   NaN    1000.0      NaN
998                            #error                   NaN   10754.0      NaN

[999 rows x 4 columns]

In [6]:
#encoding - кодировка
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users

      Юзверь                      мейл          Гео
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

In [18]:
#query - фильтрация
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns = ['user_id', 'email', 'city']
users.query('city in ["Ижевск", "Воронеж"]')

     user_id                     email     city
0   User_943       Accumanst@gmail.com   Ижевск
1   User_908         Advismowr@mail.ru   Ижевск
8   User_978           Blueterva@ya.ru   Ижевск
15  User_918        ByteTale@gmail.com  Воронеж
19  User_947      Chicapplin@gmail.com  Воронеж
30  User_966   ForlifeLatest@yahoo.com   Ижевск
44  User_931          Inserex@inbox.ru  Воронеж
48  User_912      Kenjinxte@rambler.ru  Воронеж
49  User_913          Kinkenbo@mail.ru  Воронеж
79  User_914       Sandpoist@gmail.com  Воронеж
82  User_924  ShardDivision@icloud.com  Воронеж
92  User_929    Topictition@rambler.ru   Ижевск
97  User_970          Vashoterlo@bk.ru  Воронеж
98  User_965       Visuareda@yahoo.com  Воронеж
99  User_921              Aavast@ya.ru   Ижевск

In [24]:
#str.match - строки, которые начинаются
#na = False - исключить ошибку NaN
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns = ['user_id', 'email', 'city']
users[users.city.str.match('И', na = False)]

     user_id                    email    city
0   User_943      Accumanst@gmail.com  Ижевск
1   User_908        Advismowr@mail.ru  Ижевск
8   User_978          Blueterva@ya.ru  Ижевск
30  User_966  ForlifeLatest@yahoo.com  Ижевск
92  User_929   Topictition@rambler.ru  Ижевск
99  User_921             Aavast@ya.ru  Ижевск

In [25]:
#str.contains - строки, которые содержат
#na = False - исключить ошибку NaN
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns = ['user_id', 'email', 'city']
users[users.city.str.contains('еж', na = False)]

     user_id                     email     city
15  User_918        ByteTale@gmail.com  Воронеж
19  User_947      Chicapplin@gmail.com  Воронеж
44  User_931          Inserex@inbox.ru  Воронеж
48  User_912      Kenjinxte@rambler.ru  Воронеж
49  User_913          Kinkenbo@mail.ru  Воронеж
79  User_914       Sandpoist@gmail.com  Воронеж
82  User_924  ShardDivision@icloud.com  Воронеж
97  User_970          Vashoterlo@bk.ru  Воронеж
98  User_965       Visuareda@yahoo.com  Воронеж

In [31]:
#apply - преобразование данных (функция)
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns = ['user_id', 'email', 'city']
users.city = users.city.apply(lambda x: str(x).lower())
users

     user_id                     email         city
0   User_943       Accumanst@gmail.com       ижевск
1   User_908         Advismowr@mail.ru       ижевск
2   User_962           Anachso@ukr.net    краснодар
3   User_973          Antecia@inbox.ru        пермь
4   User_902        Balliaryva@ukr.net          nan
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       тюмень
96  User_901        V2artierso@mail.ru  арзангелтск
97  User_970          Vashoterlo@bk.ru      воронеж
98  User_965       Visuareda@yahoo.com      воронеж
99  User_921              Aavast@ya.ru       ижевск

[100 rows x 3 columns]

In [1]:
#apply - преобразование данных (функция)
users = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns = ['user_id', 'email', 'city']
users.city = users.city.apply(lambda x: str(x).lower())
users

NameError: name 'pd' is not defined